.navbar {
  background-color: #00112B;
}

.navbar-nav li a {
  color: white !important;
}

.navbar-nav li a:hover {
  color: black !important;
}

.navbar-nav li:hover {
  background-color: #FFCC00;
}

i {
  height: 40px;
  width: 40px;
  font-size: 22px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  color: white !important;
}

.fa-soundcloud {
  background-color: #ff3a00;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #00aced;
}


