<div class="index">
  {{ partial "default_head.html" . }}

  <div class="jumbotron">
    {{ range first 1 .Paginator.Pages }}
      <iframe width="100%" height="100px" scrolling="no" frameborder="no" 
                                                   src="{{ .Params.soundcloud }}"></iframe>
    <!-- <img class="image" src="{{ $.Site.BaseURL }}images/covers/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" /> -->
    <!-- <div class="big-episode"> -->
    <!--   <h1>{{ .Title }}</h1> -->
    <!--   <p>{{ .Description }}</p> -->
    <!-- </div> -->
    {{ end }}
  </div>

  <div class="row">
    <div class="col-sm-8">

      <div class="articles">
        {{ range $key, $value := .Paginator.Pages }}
          {{ if ne $key 0 }}
            <div class="row">
              {{ .Render "li" }}
            </div>
          {{ end }}
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}
    </div>

    <div class="col-sm-4">
      {{ partial "sidebar.html" . }}
    </div>

  </div>
  {{ partial "default_foot.html" . }}
</div>
