{{ if ne .Title "" }}
<article class="li">
  <div class="row">
    <div class="col-md-9">
      <h2 class="title">
        <a class="li-title" href="{{ .Permalink }}">
          {{ .Title }} 
        </a>
      </h2>
    </div>
    <div class="col-md-3 date">  
      <h2 class="title">
        <mdall>
        {{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{$.Date.Format "Mon, Jan 2, 2006" }}{{ end }}
        </mdall>
      </h2>
    </div>
  </div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" 
                                                   src="{{ $.Params.soundcloud }}">
  </iframe>
  <div class="details">
    <p>
      {{ .Description }}
    </p>
  </div>
</article>
{{ end  }}
